circus==0.14.0
    gunicorn==19.7.1
    iowait==0.2
    psutil==5.3.1
    pyzmq==16.0.2
    tornado==4.5.2
Flask==0.10.1
    Werkzeug==0.12.2
    itsdangerous==0.24
    Jinja2==2.9.6
        MarkupSafe==1.0
Flask-SQLAlchemy==2.1
    SQLAlchemy==1.1.14
    sqlite3==0.0.0