{% extends "common/page_base.html" %}

{% block content %}
    <div class="logo">
        <a href="/" style="text-decoration:none;color:inherit;">
            <span id="title">
                Двач.
            </span>
        </a>
    </div>
    <hr>

<header>

    <div class="norm-reply">
        <div class="reply-label-wrapper">
            <span class="desktop">[<span class="reply-label reply-label-top">Ответить в тред</span>]</span>
            <span class="desktop favorite-board" style="display:none;">[ <i title="Добавить в мои доски" class="fa postbtn-favorite-board fa-star" data-num="" style="display: inline-block;"></i> ]</span>

        </div>

        <div id="TopNormalReply" class="TopNormalReply"></div>

        <form id="postform" class="postform tmp_postform" action="{{ url_for('main.home_page') }}" method="post" enctype="multipart/form-data" style="display: none;">
            {{ form.hidden_tag() }}
            <hr class="postform-hr">
            <table>
                <tbody>
                    <tr class="mail">
                        <td class="label desktop"><label for="e-mail">Тема</label></td>
                        <td>
                            {{ form.subject(id="e-mail", type="text", value="", size="30", placeholder="Название. Макс. длина 50")}}
                            <input type="submit" id="submit" name="submit" value="Отправить" class="desktop">
                        </td>
                    </tr>

                    <tr class="comment-area">
                        <td class="label desktop">
                            <label for="shampoo">Пост</label>
                        </td>
                        <td class="symbol-counter">
                            <div class="message-sticker-preview"></div>

                            
                            {{ form.body( id="shampoo", rows="10", placeholder="Комментарий. Макс. длина 1500")}}
                        </td>
                    </tr>



<tr class="images-area">
  <td class="label desktop">
     <label for="formimages">Файлы</label>
  </td>
  <td>
    {{form.file( id="formimages", class="form-files-input-multi")}}
    <div id="form-files" class="form-files-box">
    <input type="file" id="formimages" class="form-files-input-multi">
    <div class="form-files-limits">Макс объем: 20Mб</div>

    </div>
  </td>
</tr>










                </tbody>
            </table>

        </form>
    </div>
    <hr class="postrekl-hr">
</header>

<body>  


    <section class="posts">
        <div class="oppost-wrapper">
            <div class="post oppost" id="post-body-162067754" data-num="162067754">
                <div class="post-details" id="post-details-162067754">
                    <input type="checkbox" name="delete" class="turnmeoff" value="162067754">
                    <span class="ananimas">Аноним</span>
                        <span class="posttime">30/09/17 Суб 18:21:13&nbsp;</span>
                        <span class="reflink">№162067754</span>
                </div>
                    <div class="images images-single ">
                            <figure class="image">
                                <div id="exlink-162067754-af066bb0e192adf4d413a3f6b4df905e" class="image-link">
                                    <a href="https://2ch.hk/b/src/162067754/15067848732280.jpg" target="_blank" >
                                        <img src="{{ url_for('static', filename='15067848732280s.jpg') }}" width="220" height="169" alt="1600x1233" class="img preview  ">
                                    </a>
                                </div>
                            </figure>
                    </div>
                
                <blockquote class="post-message">
                        Это как двач, но только один тред.
                </blockquote>
            </div>
        </div>

{% for entry in posts %}
        <div class="post-wrapper">
            <div class="post reply" id="post-body-{{ entry.id }}" data-num="{{ entry.id }}">
                <div class="post-details" id="post-details-{{ entry.id }}">
                    <input type="checkbox" name="delete"  class="turnmeoff" value="{{ entry.id }}">
                    <span class="ananimas">{{entry.author}}</span>
                        <span class="posttime">{{ entry.date }}&nbsp;</span>
                        <span class="reflink">№{{ '%09d' % entry.id  }}</span>
                        {% if entry.subject %}
                        <span> RE:{{entry.subject}} </span>
                        {% endif %}

                    {% if current_user.is_authenticated %}

                    {% if current_user.id == entry.owner %}
                        <a class="postbtn-report desktop" href="{{ url_for('main.delete', id = entry.id) }}"  title="Пожаловаться" data-num="166828387"></a>
                        <a class="postbtn-options desktop" href="{{ url_for('main.edit', postid = entry.id) }}" data-num="167118342" title="Опции поста"></a>
                    {% elif current_user.role == 1 %}
                        <a class="postbtn-report desktop" href="{{ url_for('main.delete', id = entry.id) }}"  title="Пожаловаться" data-num="166828387"></a>
                    {% endif %}

                    {% endif %}

                </div>

{%if entry.img %}
                <div class="images images-single ">
                    
                        <figure class="image">
                            <!--
                            <figcaption class="file-attr">
                                <a class="desktop" target="_blank" href="/b/src/166957697/15132834237990.jpg" id="title-166957697-f9d91536038845d0b867c8eea56b696e" title="668AE0AF-8B16-4626-B74A-74C7B037A6AF.jpeg"> 668AE0AF-8B16-4[...].jpeg</a> 
                                
                                <span class="filesize" >(3418Кб, 2448x3264)</span>
                            </figcaption>
                            -->
                            <div class="image-link">
                                <a  href={{url_for('static', filename="img/"+entry.img ) }} target="_blank" ">
                                    <img src={{url_for('static', filename="thumb/"+entry.img ) }} class="img preview  ">
                                </a>
                            </div>
                        </figure>
                    
                </div>
{%endif%}

                <blockquote class="post-message">
                        {{ entry.body }}
                </blockquote>                               
            </div>
        </div>
{% endfor %}


    </section>
</body>
{% endblock %}


