{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
<br>
<br>
Привет, 
    id = {{current_user.id}}<br>
    username = {{current_user.username}}<br>
    email = {{current_user.email}}<br>
    confirmed_at = {{current_user.confirmed_at}}<br>
    password = {{current_user.password}}<br>
    active = {{current_user.active}}<br>
    role = {{current_user.role}}<br>
    avatar = {{current_user.avatar}}
<br>
<!--
<img src={{url_for('static', filename="avatar/a.jpg" ) }} class="img preview  ">
-->
{%if current_user.avatar %}
<img src={{url_for('static', filename="avatar/" + current_user.avatar ) }} class="img preview  ">
{% endif %}
<br>
<br>
<p><a href="{{ url_for('main.user_avatar_page') }}">Change avatar</a></p>
{% from "common/form_macros.html" import render_field, render_submit_field %}

<br>
<p><a href="{{ url_for('user.change_password') }}">Change password</a></p>



{% endblock %}