<header>
    <div class="logo">
        <a href="/" style="text-decoration:none;color:inherit;">
            <span id="title">
                Бред
            </span>
        </a>
    </div>
    <hr>
    <div class="norm-reply">
        <div class="reply-label-wrapper">
            <span class="desktop">[<span class="reply-label reply-label-top">Ответить в тред</span>]</span>
            <span class="desktop favorite-board" style="display:none;">[ <i title="Добавить в мои доски" class="fa postbtn-favorite-board fa-star" data-num="" style="display: inline-block;"></i> ]</span>

        </div>

        <div id="TopNormalReply" class="TopNormalReply"></div>
        <form id="postform" class="postform tmp_postform" action="{{ url_for('add_reply') }}" method="post" enctype="multipart/form-data" style="display: none;">
            <hr class="postform-hr">
            <table>
                <tbody>
                    <tr class="mail">
                        <td class="label desktop"><label for="e-mail">Тема</label></td>
                        <td>
                            <input id="e-mail" type="text" value="" name=subject size="30" placeholder="Название">
                            <input type="submit" id="submit" name="submit" value="Отправить" class="desktop">
                        </td>
                    </tr>

                    <tr class="comment-area">
                        <td class="label desktop">
                            <label for="shampoo">Пост</label>
                        </td>
                        <td class="symbol-counter">
                            <div class="message-sticker-preview"></div>
                            <span class="message-byte-len">150</span>
                            <textarea name="comment" id="shampoo" rows="10" placeholder="Комментарий. Макс. длина 150"></textarea>
                        </td>
                    </tr>



                    <tr class="rules-area">
                        <td colspan="2">
                          <span class="rules">Перед отправкой сообщения прочтите <a href="https://2ch.hk/faq.html" target="_blank">FAQ</a>, <a href="https://2ch.hk/faq/faq_b.html" target="_blank">FAQ раздела</a> и <a href="https://2ch.hk/rules.html" target="_blank">правила раздела</a>.</span><br>
                          <span class="rules"><a >vk.com/ru2ch</a> - оФФициальная группа VK </span><br>
                          <span class="rules"><a >2channel.hk</a> - Пасскодач</span><br>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
            <hr class="postform-hr">
        </form>
    </div>
    <hr class="postrekl-hr">
</header>