{% extends "common/page_base.html" %}

{% block content %}
    <div class="logo">
        <a href="/" style="text-decoration:none;color:inherit;">
            <span id="title">
                Форум.
            </span>
        </a>
    </div>
    <hr>

<header>

    <div class="norm-reply">
        <div class="reply-label-wrapper">
            <span class="desktop">[<span class="reply-label reply-label-top">Ответить в тред</span>]</span>
            <span class="desktop favorite-board" style="display:none;">[ <i title="Добавить в мои доски" class="fa postbtn-favorite-board fa-star" data-num="" style="display: inline-block;"></i> ]</span>

        </div>

        <div id="TopNormalReply" class="TopNormalReply"></div>

        <form id="postform" class="postform tmp_postform" action="{{ url_for('main.home_page') }}" method="post" enctype="multipart/form-data" style="display: none;">
            {{ form.hidden_tag() }}
            <hr class="postform-hr">
            <table>
                <tbody>
                    <tr class="mail">
                        <td class="label desktop"><label for="e-mail">Тема</label></td>
                        <td>
                            {{ form.subject(id="e-mail", type="text", value="", size="30", placeholder="Название. Макс. длина 50")}}
                            <input type="submit" id="submit" name="submit" value="Отправить" class="desktop">
                        </td>
                    </tr>

                    <tr class="comment-area">
                        <td class="label desktop">
                            <label for="shampoo">Пост</label>
                        </td>
                        <td class="symbol-counter">
                            <div class="message-sticker-preview"></div>
                            <span class="message-byte-len">150</span>
                            
                            {{ form.body( id="shampoo", rows="10", placeholder="Комментарий. Макс. длина 150")}}
                        </td>
                    </tr>



                    <tr class="rules-area">
                        <td colspan="2">
                          <span class="rules">Перед отправкой сообщения прочтите <a href="https://2ch.hk/faq.html" target="_blank">FAQ</a>, <a href="https://2ch.hk/faq/faq_b.html" target="_blank">FAQ раздела</a> и <a href="https://2ch.hk/rules.html" target="_blank">правила раздела</a>.</span><br>
                          <span class="rules"><a >vk.com/ru2ch</a> - оФФициальная группа VK </span><br>
                          <span class="rules"><a >2channel.hk</a> - Пасскодач</span><br>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
            <hr class="postform-hr">
        </form>
    </div>
    <hr class="postrekl-hr">
</header>

<body>  


    <section class="posts">
        <div class="oppost-wrapper">
            <div class="post oppost" id="post-body-162067754" data-num="162067754">
                <div class="post-details" id="post-details-162067754">
                    <input type="checkbox" name="delete" class="turnmeoff" value="162067754">
                    <span class="ananimas">Аноним</span>
                        <span class="posttime">30/09/17 Суб 18:21:13&nbsp;</span>
                        <span class="reflink">№162067754</span>
                </div>
                    <div class="images images-single ">
                            <figure class="image">
                                <div id="exlink-162067754-af066bb0e192adf4d413a3f6b4df905e" class="image-link">
                                    <a href="https://2ch.hk/b/src/162067754/15067848732280.jpg" target="_blank" >
                                        <img src="{{ url_for('static', filename='15067848732280s.jpg') }}" width="220" height="169" alt="1600x1233" class="img preview  ">
                                    </a>
                                </div>
                            </figure>
                    </div>
                
                <blockquote class="post-message">
                        <!--Это как двач, но только один тред.!-->
                        Тело заглавного сообщения
                </blockquote>
            </div>
        </div>

{% for entry in posts %}
        <div class="post-wrapper">
            <div class="post reply" id="post-body-{{ entry.id }}" data-num="{{ entry.id }}">
                <div class="post-details" id="post-details-{{ entry.id }}">
                    <input type="checkbox" name="delete"  class="turnmeoff" value="{{ entry.id }}">
                    <span class="ananimas">{{entry.author}}</span>
                        <span class="posttime">{{ entry.date }}&nbsp;</span>
                        <span class="reflink">№{{ '%09d' % entry.id  }}</span>
                        OWNER: {{entry.owner}}
                        {% if entry.subject %}
                        <span> RE:{{entry.subject}} </span>
                        {% endif %}

                    {% if current_user.is_authenticated %}

                    {% if current_user.id == entry.owner %}
                        <a class="postbtn-report desktop" href="{{ url_for('main.delete', id = entry.id) }}"  title="Пожаловаться" data-num="166828387"></a>
                    {% elif current_user.role == 1 %}
                        <a class="postbtn-report desktop" href="{{ url_for('main.delete', id = entry.id) }}"  title="Пожаловаться" data-num="166828387"></a>
                    {% endif %}

                    {% endif %}

                </div>
                <blockquote class="post-message">
                        {{ entry.body }}
                </blockquote>                               
            </div>
        </div>
{% endfor %}


    </section>
</body>
{% endblock %}


